.list-users-container {
  height: 100vh;
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
  width: 100%;
  padding-left: 82px;
  overflow-x: hidden;
  padding-right: 82px;
  font-size: 40px;
  animation: fadeInOut 1s ease-in-out;
  color: white;
  background: linear-gradient(180deg, #2d2203 0%, #0b1376 100%);
}

.list-users-navbar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list-users-navbar img {
  height: 178px;
  width: 178px;
}

.list-users-navbar p {
  font-size: 40px;
}

.list-users-navbar button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  color: white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 86px;
  padding-bottom: 11px;
}

.playlist-cards-container {
  margin-top: 47px;
  width: 100%;
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fill, minmax(474px, 1fr));
}

.playlist-cards-container::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
.playlist-card {
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 16px;
  border: 2px solid transparent;
  color: white;
  /* margin-left: 40px; */
  width: 474px;
  display: flex;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.12);
}
.playlist-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.playlist-card-focused {
  border: 2px solid var(--gold);
  outline: none;
}

.playlist-card-content {
  padding-left: 18px;
  padding-top: 12px;
  width: 100%;
  display: flex;

  flex-direction: column;
}

.playlist-card-title {
  font-weight: 600;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 32px;
}

.playlist-card-username {
  font-weight: 400;
  font-size: 24px;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-users-navbar button.playlist-card-focused {
  border: 2px solid var(--gold);
  outline: none;
}

.playlist-card-focused img {
  background-color: var(--gold);
}

.remove-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeInOut 0.2s ease-in-out;

  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  zoom: 1.8;
}

.remove-dialog-content {
  background: #222;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.remove-dialog-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.remove-dialog-buttons button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
}

.cancel-btn {
  background-color: black;
  color: white;
}

.remove-dialog-btn-focused {
  border: 3px solid var(--gold);
  outline: none;
}

.playlist-instructions {
  margin-top: 47px;
  color: white;
  font-size: 32px;
  width: 95%;
  color: var(--gold);
  font-weight: 600;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}
