.movies-page-container {
  height: 100vh;
  width: 100%;
  padding: 250px 60px 100px;
  overflow-x: hidden;
  animation: fadeInOut 1s ease-in-out;
  color: white;
  background: linear-gradient(180deg, #2d2203 0%, #0b1376 100%);
}
.movies-page-container::-webkit-scrollbar {
  display: none;
}

.movies-fav-container h1,
.movies-popular-container h1,
.recently-watched-container h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.movies-card-list {
  display: flex;
  overflow-y: hidden;
  margin-bottom: 40px;
  padding: 10px;
  scroll-behavior: smooth;
}

.movies-card-list::-webkit-scrollbar {
  display: none;
}

/* Base Movie Card Styles */
.movie-card {
  margin-right: 30px;
  border-radius: 16px;
  flex-shrink: 0;
  height: 300px;
  width: 220px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden; 
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  transition: border 0.2s ease, transform 0.2s ease;
  z-index: 0;
}

/* Large Card Style for Most Popular */
.movie-card-large {
  width: 500px;
  height: 350px;
}

.movie-card:hover {
  border: 2px solid var(--dark-gold);
  transform: scale(1.03);
  z-index: 1; 
}

.movie-card:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 11.21%,
    rgba(0, 0, 0, 0.926) 79.94%
  );
  z-index: 1;
  pointer-events: none;
}

.movie-card.focused {
  border: 2px solid var(--dark-gold);
  transform: scale(1.05);
  outline: none;
  z-index: 2;
}

.movie-card.focused::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 11.21%,
    rgba(0, 0, 0, 0.926) 79.94%
  );
  z-index: 1;
  pointer-events: none;
}

/* Movie Card Content */
.movie-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  position: relative;
  z-index: 2; 
}

.movie-card-heart {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.movie-card-play-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movie-card-play {
  width: 73px;
  height: 73px;
  object-fit: contain;
  margin-bottom: 30px;
}

.movie-card-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.movie-card-bottom-left,
.movie-card-bottom-right {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
}

.movie-card-bottom-right {
  text-align: end;
}

.movie-card-bottom-left h2,
.movie-card-bottom-right h2 {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card-bottom-right h3 {
  font-weight: 200;
  white-space: nowrap;
}

/* Large Card Specific Styles */
.movie-card-large .movie-card-content {
  padding: 15px;
}

.movie-card-large .movie-card-heart {
  width: 35px;
  height: 35px;
}

.movie-card-large .movie-card-play {
  width: 85px;
  height: 85px;
  margin-bottom: 40px;
}

.movie-card-large .movie-card-bottom {
  font-size: 18px;
}

.movie-card-large .movie-card-bottom-left h2,
.movie-card-large .movie-card-bottom-right h2 {
  font-size: 20px;
}

.movie-card-large .movie-card-bottom-left h3,
.movie-card-large .movie-card-bottom-right h3 {
  font-size: 18px;
}