.movie-detail-page-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 100px 60px 100px;
  width: 100%;
  color: white;
  /* height: 100vh; */
  animation: fadeInOut 1s ease-in-out;
    background: linear-gradient(180deg, #2d2203 0%, #0b1376 100%);
  /* overflow: hidden; */
}

.movie-detail-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.movie-detail-page-content-container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
}

.movie-detail-page-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.movie-detail-logo-container {
  justify-self: start;
}

.movie-detail-logo-container img {
  width: 260px;
  height: 110px;
}

.movie-detail-page-header-title p {
  font-size: 50px;
  font-weight: 500;
  color: white;
  padding-left: 120px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1200px;
}

.movie-detail-page-header-menu {
  justify-self: end;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.movie-detail-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.movie-detail-content {
  width: 100%;
  display: flex;
}

.movie-detail-content .first-content {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.movie-detail-content .second-item {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.movie-detail-content .second-item .inner-card {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.movie-detail-content .second-item .card-rating {
  margin-top: 10px;
}

.first-item {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  justify-content: space-between;
}

.first-item .first {
  font-size: 35px;
  width: 45%;
  font-weight: 600;
}

.first-item .second {
  font-size: 35px;
  width: 100%;
  color: rgba(213, 213, 213, 1);

  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
}

.movie-card-start-icon {
  width: 33px;
  height: 33px;
  object-fit: contain;
}

.movie-detail-buttons {
  display: flex;
  width: 100%;
}

.movie-detail-play-button {
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: 2.46px solid rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: 600;
  outline: none;
  text-wrap: nowrap;
  font-size: 24px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);

  padding-right: 28px;
}


.movie-detail-from-start-button {
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: 2.46px solid rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: 600;
  outline: none;
    white-space: nowrap;
  font-size: 24px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);

  padding-right: 28px;
}
.movie-detail-more-info-button {
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  /* text-wrap: nowrap; */
  padding-left: 28px;
  border: 3px solid rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: 600;
  outline: none;
  font-size: 24px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);

  padding-right: 28px;
}
.movie-detail-button-focused {
  border: 3px solid rgba(231, 161, 1, 1) !important;
  outline: none !important;
}

.movie-detail-card-poster {
  height: 400px;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
}

.movie-detail-description {
  color: rgba(213, 213, 213, 1);
  font-size: 35px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-detail-cast {
  padding-top: 50px;

  overflow-x: auto;
  padding-bottom: 50px;

  display: flex;
}

.movie-detail-cast::-webkit-scrollbar {
  display: none;
}

.movie-cast-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  border: 3px solid transparent;
  flex-direction: column;
  justify-content: center;
}

.movie-cast-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.movie-cast-item-name {
  padding-top: 10px;
  white-space: nowrap;
  color: white !important;
  font-size: 32px;
  text-align: center;
}

.card-rating {
  display: grid;
  padding-left: 10px;
  grid-template-columns: repeat(5, 1fr);
}


.movie-no-cast-text{
  color: rgba(213, 213, 213, 1);
  font-size: 35px;
  font-weight: 400;
}


.movie-detail-fav-button {
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: 2.46px solid rgba(255, 255, 255, 0.25);
  color: white;
  font-weight: 600;
  outline: none;
  white-space: nowrap;
  /* text-wrap: nowrap; */
  font-size: 24px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);

  padding-right: 28px;
}
.movie-detail-fav-button .heart-icon {
  font-size: 18px;
  line-height: 1;
}



.heart-icon .fa-solid {
  color: red;
  
}

.heart-icon i{
  font-size: 24px;
}

.sidebar-container-movie-detail{
    position: absolute;
    top: 127px;
    right: 58px;
    left: 50;
    z-index: 9999;

}
