.parental-pin-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  zoom: 1.5;
  align-items: center;
  z-index: 9999;
}

.parental-pin-dialog {
  background: black;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  border: 4px solid var(--gold);
  min-width: 300px;
}

.parental-pin-dialog h2 {
  margin-bottom: 20px;
  color: white;
}

.parental-pin-dialog input {
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 4px solid transparent;

  outline: none; /* remove native outline */
  border-radius: 5px;
  transition: border 0.2s, box-shadow 0.2s;
}

.parental-pin-dialog input.focused {
  border: 4px solid var(--gold);
}

.parental-pin-dialog .pin-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border:3px solid white;
  border-radius: 5px;
  background: black;
  color: white;
  outline: none; /* remove native outline */

  transition: border 0.2s, box-shadow 0.2s;
}

.parental-pin-dialog .pin-buttons button.focused {
  border: 3px solid var(--gold);
  background: black;
}
