*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

  :root{
    --gold: #FFD700;
  }

  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}
