* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

:root {
  --gold: #ffd700;
  --dark-gold: #fdbd0f;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

.scroll-container {
  scroll-behavior: smooth; /* some Tizen versions support this */
}

#main-app-contianer {
  height: 100vh;
}

.movie-no-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: var(--gold);
  font-size: 60px;
  font-weight: 600;
}

.movie-no-data p {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-all;
}

.loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

.loading-overlay.hidden {
  display: none;
}

.spinner {
  border: 1px solid var(--gold);
  border-left-color: transparent;
  border-radius: 50%;
  zoom: 2.2;
}

.spinner {
  border: 1px solid var(--gold);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.spinner {
  border: 1px solid var(--gold);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 0.9s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 15px;
  font-size: 1.2rem;
  color: var(--gold, #fdbd0f);
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  animation: fadeBlink 1.5s infinite;
}

@keyframes fadeBlink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

#loading-overlay #loading-progress {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
